*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-user-select: none!important;
	   -moz-user-select: none!important;
	    -ms-user-select: none!important;
	        user-select: none!important;
}
::-moz-selection{
	color: #fff;
	background: violet;
}
::selection{
	color: #fff;
	background: violet;
}
:root{
	--biru: #4285f4;
	--box-shadow: 0 4px 16px rgba(0,0,0,.25);
}
html{
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}
html::-webkit-scrollbar{
	width: 1rem;
}
html::-webkit-scrollbar-thumb{
	background: ghostwhite;
	border: 1px solid gainsboro;
}
body{
	max-width: 2000px;
	margin: auto;
	color: #333;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 22px;
	margin-bottom: 1.5rem;
	text-shadow: 1px 1px var(--biru);
}
img{
	display: block;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
p{
	line-height: 24px;
}
button{
	background: transparent;
	cursor: pointer;
}
.heading{
	font-size: 28px;
	text-align: center;
	margin-bottom: 2rem;
	color: var(--biru);
	text-shadow: 2px 2px 2px #333;
	letter-spacing: 8px;
	line-height: 36px;
}
.heading span{
	color: var(--biru);
	display: block;
}
.btn{
	margin-top: 1rem;
	display: inline-block;
	border: 1px solid var(--biru);
	color: var(--biru);
	cursor: pointer;
	background: none;
	padding: 8px 16px;
	font-size: 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.btn:hover{
	background: var(--biru);
	color: #fff;
}
.grid{
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
}

/*root responsive*/
section,
header,
footer{
	padding: 3rem;
}
@media(max-width: 768px){
	section,
	header,
	footer{
		padding: 3rem 2rem;
	}
}
@media(max-width: 480px){
	section,
	header,
	footer{
		padding: 3rem 1rem;
	}
	.grid{
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

/* ------------------------- header section ------------------------- */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
  	padding: 0 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: ghostwhite;
  	z-index: 100;
}
.header .logo{
	font-size: 2rem;
	font-weight: bold;
	color: var(--biru);
}
.header .navbar{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0 2rem;
}
.header .navbar a{
	color: #333;
	font-size: 20px;
  	font-weight: bold;
}
.header .navbar a:hover,
.header .navbar a.aktif{
	color: var(--biru);
}
.header .navbar > a i{
	display: none;
}
.header .navbar .navbar-medsos{
	display: none;
}
.header .menu{
	display: none;
}

/* responsive media query */
@media(max-width: 800px){
	.header .navbar{
		position: fixed;
		top: 60px;
		left: -150%;
		width: 75%;
		height: calc(100% - 60px);
		padding: 0 2rem;
		background: ghostwhite;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		gap: 1.5rem 0;
		padding: 2rem;
	}
	.header .navbar.aktif{
		left: 0;
	}
	.header .navbar > a i{
		display: inline-block;
		margin-right: 8px;
	}
	.header .navbar .navbar-medsos{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 0 1rem;
		border-top: 1px solid rgba(0,0,0,.1);
		padding-top: 2rem;
	}
	.header .navbar .navbar-medsos a{
		width: 20px;
		height: 20px;
		border: 1px solid rgba(0,0,0,.25);
		border-radius: 50%;
		font-size: 1rem;
		padding: 1rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.header .navbar .navbar-medsos a:hover{
		color: ghostwhite;
		background: #333;
		border: 1px solid #333;
	}
	.header .menu{
		display: block;
		font-size: 1.5rem;
		color: var(--biru);
	}
}
@media(max-width: 768px){
	.header{
		padding: 0 2rem;
	}
}
@media(max-width: 480px){
	.header{
		padding: 0 1rem;
	}
	.header .navbar{
		padding: 2rem 1rem;
	}
}

/* ------------------------- home section ------------------------- */
.home{
	background: url(/gambar/foto-sampul-jasa-urus-pirt.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 60px);
	margin-top: 60px;
}
.home .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 2rem 0;
	width: 100%;
	height: 100%;
}
.home .container h1{
	font-size: 34px;
	color: #fff;
	text-shadow: 2px 2px #333;
}
.home .container p{
	font-size: 20px;
	font-weight: bold;
	color: whitesmoke;
	text-align: center;
	text-shadow: 2px 2px #333;
}
.home .container .btn{
	color: whitesmoke;
	border: 1px solid whitesmoke;
}
.home .container .btn i{
	margin-right: 8px;
}

/* ------------------------- about section ------------------------- */
.about .container,
.about .fact{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 2rem;
}
.about .container .box,
.about .fact .box{
	width: 50%;
}
.about .fact{
	margin-top: 3rem;
}
.about .fact .box p:nth-child(2){
	margin-bottom: 1rem;
}
.about .fact .box .cta{
	background: var(--biru);
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	padding: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1rem;
	text-align: center;
}
.about .fact .box .cta h4{
	color: #fff;
	font-size: 22px;
}
.about .fact .box .cta .btn{
	margin-top: 0;
	color: #fff;
	border: 1px solid #fff;
	font-weight: bold;
}
.about .fact .box .cta .btn:hover{
	background: #fff;
	color: var(--biru);
	border: 1px solid var(--biru);
}
.about .fact .box .cta .btn i{
	margin-right: 8px;
}
/*responsive media query*/
@media(max-width: 768px){
	.about .container{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.about .fact{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	.about .container .box,
	.about .fact .box{
		width: 100%;
	}
}

/* ------------------------- manfaat section ------------------------- */
.manfaat{
	background: ghostwhite;
}
.manfaat .ul{
	margin-top: 2rem;
}
.manfaat .ul li{
	padding: 2rem 1rem;
	text-align: center;
	background: #fff;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.25);
	        box-shadow: 0 2px 8px rgba(0,0,0,.25);
}
.manfaat .ul li i{
	color: var(--biru);
	font-size: 4rem;
}
.manfaat .ul li p{
	margin-top: 1rem;
}

/* ------------------------- biaya section ------------------------- */
.biaya .container .box p:nth-child(2){
	margin-bottom: 1rem;
}
.biaya .container .box .btn i{
	margin-right: 8px;
}

/* ------------------------- gallery section ------------------------- */
.gallery{
	background: ghostwhite;
}
.gallery .container .box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.gallery .container .box .image{
  padding: 7px;
  width: calc(100% / 3);
  cursor: pointer;
}
.gallery .container .box .image span{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .container .box .image img{
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery .container .box .image:hover img{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery .preview-box{
  position: fixed;
  top: calc(50% + 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  border-radius: 4px;
  padding: 0 8px 8px 8px;
  -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.25);
          box-shadow: 0px 0px 16px rgba(0,0,0,0.25);
}
.gallery .preview-box.show{
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery .preview-box .details{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 12px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .preview-box .details .title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.gallery .preview-box .details .title span{
  margin: 0 8px;
}
.gallery .preview-box .details .title span.current-img{
  font-weight: 500;
}
.gallery .preview-box .details .icon{
  color: var(--biru);
  font-size: 20px;
  cursor: pointer;
}
.gallery .preview-box .image-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}
.gallery .preview-box .image-box .slide{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.gallery .preview-box .image-box .slide:hover{
	color: var(--biru);
}
.gallery .preview-box .image-box .slide.prev{
  left: 0px;
}
.gallery .preview-box .image-box .slide.next{
  right: 0px;
}
.gallery .preview-box .image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.gallery .shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
  background: rgba(0,0,0,0.25);
}
/*responsive media query*/
@media(max-width: 1000px){
  .gallery .container .box .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .container .box .image{
    width: 100%;
    padding: 4px;
  }
}

/* ------------------------- contact section ------------------------- */
.contact .container .box:first-child{
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1rem;
}
.contact .container .box:first-child a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: ghostwhite;
	-webkit-box-shadow: 0 2px 8px gainsboro;
	        box-shadow: 0 2px 8px gainsboro;
	padding: 1rem;
	gap: 0 8px;
	color: var(--biru);
}
.contact .container .box:first-child a:hover{
	background: #333;
	color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 8px grey;
	        box-shadow: 0 2px 8px grey;
}
.contact .container .box:first-child a i{
	font-size: 1rem;
}
.contact .container .box:last-child .grid{
	margin-top: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1rem;
}
.contact .container .box:last-child .grid a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: ghostwhite;
	-webkit-box-shadow: 0 2px 8px gainsboro;
	        box-shadow: 0 2px 8px gainsboro;
	padding: 1rem;
	gap: 0 8px;
	color: var(--biru);
}
.contact .container .box:last-child .grid a:hover{
	background: #333;
	color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 8px grey;
	        box-shadow: 0 2px 8px grey;
}
.contact .maps iframe{
	margin-top: 2rem;
	width: 100%;
	height: 450px;
}

/* ------------------------- footer section ------------------------- */
.footer{
	background: ghostwhite;
}
.footer .container .box{
	padding: 0 1rem;
}
.footer .container .box img{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.footer .container .box p{
	text-align: center;
}
.footer .container .box a{
	display: block;
	color: #333;
	margin-bottom: 1rem;
}
.footer .container .box a:hover{
	color: var(--biru);
}
.footer .container .box a i{
	margin-right: 8px;
}
.footer .container .box:last-child p{
	text-align: left;
}
.footer .container .box #formulir{
	margin-top: 1rem;
}
.footer .container .box #formulir input{
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #999;
	border-radius: 2px;
}
.footer .container .box #formulir input:focus{
	border: 1px solid #333;
}
.footer .container .box #formulir .btn{
	border-radius: 2px;
	padding: 8px 24px;
	color: var(--biru);
	margin-top: 8px;
}
.footer .container .box #formulir .btn:hover{
	background: var(--biru);
	color: #fff;
}
.footer .credit{
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: 1px solid rgba(0,0,0,.1);
}
.footer .credit p{
	text-align: center;
}
/*footer media query*/
@media(max-width: 480px){
	.footer .container .box{
		padding: 0;
	}
}

/* ------------------------- loader & popup  ------------------------- */
.loader{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.loader.aktif{
	z-index: 101;
	background: rgba(0,0,0,0.25);
}
.loader img{
	width: 150px;
	height: 150px;
	opacity: 0;
}
.loader.aktif img{
	opacity: 1;
}
/*sukses*/
.sukses,
.gagal{
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -100;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sukses.aktif,
.gagal.aktif{
	z-index: 101;
	opacity: 1;
	background: rgba(0,0,0,0.25);
}
.sukses .box,
.gagal .box{
	z-index: 102;
	width: 75%;
	background: #fff;
	padding: 3rem;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 2rem;
}
.sukses .box h3,
.gagal .box h3{
	font-size: 2rem;
	color: #333;
	color: darkgreen;
}
.sukses .box i,
.gagal .box i{
	font-size: 8rem;
	color: darkgreen;
}
.sukses .box p,
.gagal .box p{
	font-size: 18px;
}
.sukses .box .btn,
.gagal .box .btn{
	margin-top: 0;
	padding: 8px 32px;
	border: 1px solid #333;
	background: #333;
	color: #fff;
}
.sukses .box .btn:hover{
	border: 1px solid darkgreen;
	background: darkgreen;
	color: #fff;
}
/*responsive media query*/
@media (max-width: 480px){
	.sukses .box,
	.gagal .box{
		width: 95%;
		padding: 3rem 1rem;
	}
}
/*gagal*/
.gagal .box h3{
	font-size: 2rem;
	color: #333;
	color: darkred;
}
.gagal .box i{
	font-size: 8rem;
	color: darkred;
}
.gagal .box .btn:hover{
	border: 1px solid darkred;
	background: darkred;
	color: #fff;
}
