*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent !important;
}
::selection{
	color: #fff;
	background: violet;
}
:root{
	--biru: #4285f4;
	--box-shadow: 0 4px 16px rgba(0,0,0,.25);
}
html{
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}
html::-webkit-scrollbar{
	width: 1rem;
}
html::-webkit-scrollbar-thumb{
	background: ghostwhite;
	border: 1px solid gainsboro;
}
body{
	max-width: 2000px;
	margin: auto;
	color: #333;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 22px;
	margin-bottom: 1.5rem;
	text-shadow: 1px 1px var(--biru);
}
img{
	display: block;
	width: 100%;
	height: 100%;
	user-select: none;
}
p{
	line-height: 24px;
}
button{
	background: transparent;
	cursor: pointer;
}
.heading{
	font-size: 28px;
	text-align: center;
	margin-bottom: 2rem;
	color: var(--biru);
	text-shadow: 2px 2px 2px #333;
	letter-spacing: 8px;
}
.heading span{
	color: var(--biru);
}
.btn{
	margin-top: 1rem;
	display: inline-block;
	border: 1px solid var(--biru);
	color: var(--biru);
	cursor: pointer;
	background: none;
	padding: 8px 16px;
	font-size: 16px;
	user-select: none;
}
.btn:hover{
	background: var(--biru);
	color: #fff;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
}

/*root responsive*/
section,
header,
footer{
	padding: 3rem;
}
@media(max-width: 768px){
	section,
	header,
	footer{
		padding: 3rem 2rem;
	}
}
@media(max-width: 480px){
	section,
	header,
	footer{
		padding: 3rem 1rem;
	}
	.grid{
		grid-template-columns: 1fr;
	}
}

/* ------------------------- header section ------------------------- */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
  	padding: 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: ghostwhite;
  	z-index: 9999;
}
.header .logo{
	font-size: 2rem;
	font-weight: bold;
	color: var(--biru);
}
.header .navbar{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0 2rem;
}
.header .navbar a{
	color: #333;
	font-size: 20px;
  	font-weight: bold;
}
.header .navbar a:hover,
.header .navbar a.aktif{
	color: var(--biru);
}
.header .navbar > a i{
	display: none;
}
.header .navbar .navbar-medsos{
	display: none;
}
.header .menu{
	display: none;
}

/* responsive media query */
@media(max-width: 800px){
	.header .navbar{
		position: fixed;
		top: 60px;
		left: -150%;
		width: 75%;
		height: calc(100% - 60px);
		padding: 0 2rem;
		background: ghostwhite;
		transition: .3s ease-in-out;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1.5rem 0;
		padding: 2rem;
	}
	.header .navbar.aktif{
		left: 0;
	}
	.header .navbar > a i{
		display: inline-block;
		margin-right: 8px;
	}
	.header .navbar .navbar-medsos{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 1rem;
		border-top: 1px solid rgba(0,0,0,.1);
		padding-top: 2rem;
	}
	.header .navbar .navbar-medsos a{
		width: 20px;
		height: 20px;
		border: 1px solid rgba(0,0,0,.25);
		border-radius: 50%;
		font-size: 1rem;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header .navbar .navbar-medsos a:hover{
		color: ghostwhite;
		background: #333;
		border: 1px solid #333;
	}
	.header .menu{
		display: block;
		font-size: 1.5rem;
		color: var(--biru);
	}
}
@media(max-width: 768px){
	.header{
		padding: 0 2rem;
	}
}
@media(max-width: 480px){
	.header{
		padding: 0 1rem;
	}
	.header .navbar{
		padding: 2rem 1rem;
	}
}

/* ------------------------- home section ------------------------- */
.home{
	background: url(images/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 60px);
	margin-top: 60px;
}
.home .container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem 0;
	width: 100%;
	height: 100%;
}
.home .container h1{
	font-size: 34px;
	color: #fff;
	text-shadow: 2px 2px #333;
}
.home .container p{
	font-size: 20px;
	font-weight: bold;
	color: whitesmoke;
	text-align: center;
	text-shadow: 2px 2px #333;
}
.home .container .btn{
	color: whitesmoke;
	border: 1px solid whitesmoke;
}
.home .container .btn i{
	margin-right: 8px;
}

/* ------------------------- about section ------------------------- */
.about .container,
.about .fact{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.about .container .box,
.about .fact .box{
	width: 50%;
}
.about .fact{
	margin-top: 3rem;
}
.about .fact .box p:nth-child(2){
	margin-bottom: 1rem;
}
.about .fact .box .cta{
	background: var(--biru);
	height: max-content;
	padding: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1rem;
	text-align: center;
}
.about .fact .box .cta h4{
	color: #fff;
	font-size: 22px;
}
.about .fact .box .cta .btn{
	margin-top: 0;
	color: #fff;
	border: 1px solid #fff;
	font-weight: bold;
}
.about .fact .box .cta .btn:hover{
	background: #fff;
	color: var(--biru);
	border: 1px solid var(--biru);
}
.about .fact .box .cta .btn i{
	margin-right: 8px;
}
/*responsive media query*/
@media(max-width: 768px){
	.about .container{
		flex-direction: column;
	}
	.about .fact{
		flex-direction: column-reverse;
	}
	.about .container .box,
	.about .fact .box{
		width: 100%;
	}
}

/* ------------------------- manfaat section ------------------------- */
.manfaat{
	background: ghostwhite;
}
.manfaat .ul{
	margin-top: 2rem;
}
.manfaat .ul li{
	padding: 2rem 1rem;
	text-align: center;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.25);
}
.manfaat .ul li i{
	color: var(--biru);
	font-size: 4rem;
}
.manfaat .ul li p{
	margin-top: 1rem;
}

/* ------------------------- biaya section ------------------------- */
.biaya .container .box p:nth-child(2){
	margin-bottom: 1rem;
}

/* ------------------------- gallery section ------------------------- */
.gallery{
	background: ghostwhite;
}
.gallery .container .box{
	display: flex;
	flex-wrap: wrap;
}
.gallery .container .box .image{
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .container .box .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .container .box .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .container .box .image:hover img{
  transform: scale(1.1);
}
.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}
@media(max-width: 1000px){
  .gallery .container .box .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .container .box .image{
    width: 100%;
    padding: 4px;
  }
}

/* ------------------------- contact section ------------------------- */
.contact .container .box:first-child{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1rem;
}
.contact .container .box:first-child a{
	display: flex;
	align-items: center;
	background: ghostwhite;
	box-shadow: 0 2px 8px gainsboro;
	padding: 1rem;
	gap: 0 8px;
	color: var(--biru);
}
.contact .container .box:first-child a:hover{
	background: #333;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px grey;
}
.contact .container .box:first-child a i{
	font-size: 1rem;
}
.contact .container .box:last-child .grid{
	margin-top: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1rem;
}
.contact .container .box:last-child .grid a{
	display: flex;
	align-items: center;
	background: ghostwhite;
	box-shadow: 0 2px 8px gainsboro;
	padding: 1rem;
	gap: 0 8px;
	color: var(--biru);
}
.contact .container .box:last-child .grid a:hover{
	background: #333;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px grey;
}
.contact .maps iframe{
	margin-top: 2rem;
	width: 100%;
	height: 450px;
}

/* ------------------------- footer section ------------------------- */
.footer{
	background: ghostwhite;
}
.footer .container .box{
	padding: 0 1rem;
}
.footer .container .box img{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.footer .container .box p{
	text-align: center;
}
.footer .container .box a{
	display: block;
	color: #333;
	margin-bottom: 1rem;
}
.footer .container .box a:hover{
	color: var(--biru);
}
.footer .container .box a i{
	margin-right: 8px;
}
.footer .container .box:last-child p{
	text-align: left;
}
.footer .container .box #formulir{
	margin-top: 1rem;
}
.footer .container .box #formulir input{
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #999;
	border-radius: 2px;
}
.footer .container .box #formulir input:focus{
	border: 1px solid #333;
}
.footer .container .box #formulir .btn{
	border-radius: 2px;
	padding: 8px 24px;
	color: var(--biru);
	margin-top: 8px;
}
.footer .container .box #formulir .btn:hover{
	background: var(--biru);
	color: #fff;
}
.footer .credit{
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: 1px solid rgba(0,0,0,.1);
}
.footer .credit p{
	text-align: center;
}
/*footer media query*/
@media(max-width: 480px){
	.footer .container .box{
		padding: 0;
	}
}